In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

import seaborn as sns
import matplotlib.font_manager as fm

font_name = fm.FontProperties(fname = 'C:\Windows\Fonts\malgun.ttf').get_name()
plt.rc('font', family = font_name)

from sklearn.mixture import GaussianMixture

In [154]:
data_before_remove = pd.read_csv("data/분석용_데이터/clustering_final_2(cp949).csv", encoding = "cp949")
data_before_remove.head()

     구  행정동  독거노인          매매         전월세
0  종로구  사직동   439  851.762182  426.243299
1  종로구  삼청동   167  396.635571  334.446377
2  종로구  부암동   346  486.024695  328.360298
3  종로구  평창동   640  532.595432  324.871143
4  종로구  무악동   265  795.829985  304.287667

In [62]:
gmm = GaussianMixture(n_components=3, random_state=0).fit(data_before_remove.iloc[:, -3:])
gmm_cluster_labels = gmm.predict(data_before_remove.iloc[:, -3:])
data_before_remove['gmm_cluster_minmax'] = gmm_cluster_labels
data_before_remove['gmm_cluster_minmax'].value_counts()

0    267
2    130
1     27
Name: gmm_cluster_minmax, dtype: int64

In [63]:
data_before_remove.to_csv("data/분석용_데이터/clustering_result_gmm_before_remove(cp949).csv", encoding = "cp949", index = False)

In [156]:
data_before_remove = pd.read_csv("data/분석용_데이터/clustering_result_gmm_before_remove(cp949).csv", encoding = "cp949")
data_before_remove

       구   행정동  독거노인          매매         전월세  gmm_cluster_minmax
0    종로구   사직동   439  851.762182  426.243299                   0
1    종로구   삼청동   167  396.635571  334.446377                   2
2    종로구   부암동   346  486.024695  328.360298                   0
3    종로구   평창동   640  532.595432  324.871143                   0
4    종로구   무악동   265  795.829985  304.287667                   2
..   ...   ...   ...         ...         ...                 ...
419  강동구  둔촌1동     3  573.672898  203.983681                   1
420  강동구  둔촌2동   775  754.490665  398.706175                   0
421  강동구  암사1동  1304  750.036509  334.064532                   0
422  강동구  천호2동  1538  755.497887  408.348063                   0
423  강동구    길동  1455  741.467655  387.464969                   0

[424 rows x 6 columns]

In [157]:
# 사고 다발 지역
danger_area = pd.read_excel("data/교통사고/사고다발지역.xlsx", encoding = "cp949")
danger_area["구"] = danger_area['장소'].str.split(" ").str[1]
danger_list = danger_area.groupby(["구", "행정동"])[['사고 수']].sum().reset_index()
danger_list = danger_list[danger_list["사고 수"] >= 5]
danger_list.head()

      구   행정동  사고 수
2   강남구  일원본동     5
7   강동구  천호1동     9
8   강동구  천호2동    12
9   강동구  천호3동     6
12  강북구   번3동     7

In [158]:
accident_index = data_before_remove[data_before_remove['행정동'].isin(danger_list['행정동'].tolist())].index
data_before_remove = data_before_remove.drop(accident_index, axis = 0)
data_before_remove.head()

     구  행정동  독거노인          매매         전월세  gmm_cluster_minmax
0  종로구  사직동   439  851.762182  426.243299                   0
1  종로구  삼청동   167  396.635571  334.446377                   2
2  종로구  부암동   346  486.024695  328.360298                   0
3  종로구  평창동   640  532.595432  324.871143                   0
4  종로구  무악동   265  795.829985  304.287667                   2

# 데이터
- 사고다발지역 삭제 할 것

In [2]:
data = pd.read_csv("data/분석용_데이터/clustering_result_gmm(cp949).csv", encoding = "cp949")
data.head()

     구  행정동  독거노인          매매         전월세  gmm_cluster
0  종로구  사직동   439  851.762182  426.243299            0
1  종로구  삼청동   167  396.635571  334.446377            2
2  종로구  부암동   346  486.024695  328.360298            0
3  종로구  평창동   640  532.595432  324.871143            0
4  종로구  무악동   265  795.829985  304.287667            2

In [3]:
# 사고 다발 지역
danger_area = pd.read_excel("data/교통사고/사고다발지역.xlsx", encoding = "cp949")
danger_area["구"] = danger_area['장소'].str.split(" ").str[1]
danger_list = danger_area.groupby(["구", "행정동"])[['사고 수']].sum().reset_index()
danger_list = danger_list[danger_list["사고 수"] >= 5]
danger_list.head()

      구   행정동  사고 수
2   강남구  일원본동     5
7   강동구  천호1동     9
8   강동구  천호2동    12
9   강동구  천호3동     6
12  강북구   번3동     7

In [4]:
accident_index = data[data['행정동'].isin(danger_list['행정동'].tolist())].index
data = data.drop(accident_index, axis = 0)
data.head()

     구  행정동  독거노인          매매         전월세  gmm_cluster
0  종로구  사직동   439  851.762182  426.243299            0
1  종로구  삼청동   167  396.635571  334.446377            2
2  종로구  부암동   346  486.024695  328.360298            0
3  종로구  평창동   640  532.595432  324.871143            0
4  종로구  무악동   265  795.829985  304.287667            2

In [5]:
data.shape

(374, 6)

In [10]:
data["gmm_cluster"].value_counts()

0    228
2    121
1     25
Name: gmm_cluster, dtype: int64

----

- summary 데이터랑 합침

In [6]:
summary_data = pd.read_csv("data/분석용_데이터/summaryForPredict(cp949).csv", encoding = "cp949")
summary_data["dong"] = summary_data["dong"].str.replace("·", ".")
summary_data.head()

,gu,dong,parking,culture_space,sports_center,cctv_count,etc,food,Medical_treatment,clothing,pharmacy,hospital,bus_station,Alley_district,Development_district,Traditional_district
0,강남구,개포1동,53,0,0,20,0,0,0,0,1,3,16,0,0,0
1,강남구,개포2동,114,3,0,0,163,175,51,19,8,32,35,292,0,116
2,강남구,개포4동,987,1,3,0,218,276,70,37,9,33,31,490,111,0
3,강남구,논현1동,2043,3,1,0,573,531,189,147,44,254,18,617,703,120
4,강남구,논현2동,2069,4,0,0,611,674,191,155,32,172,26,813,814,0

In [44]:
# cluster 가 0 일때
data_0 = data[data["gmm_cluster_minmax"] == 0].iloc[:, :3]
data_0.head()

     구      행정동  독거노인
0  종로구      사직동   439
2  종로구      부암동   346
3  종로구      평창동   640
7  종로구  종로5.6가동   508
8  종로구      이화동   596

In [45]:
score_0 = data_0.merge(summary_data, how = "left", left_on=["구", "행정동"], right_on=["gu", "dong"])
score_0.drop(["구", "행정동"], axis = 1, inplace = True)
score_0 = score_0.set_index(["gu", "dong"])
score_0 = score_0.rename(columns = {"독거노인":"isolation_senior"})
score_0

             isolation_senior  parking  culture_space  sports_center  \
gu  dong
종로구 사직동                   439      360             18              3
    부암동                   346      596              6              0
    평창동                   640     1600              7              0
    종로5.6가동               508        0              0              0
    이화동                   596      435             22              0
...                       ...      ...            ...            ...
강동구 성내2동                 1067     1935              0              0
    성내3동                  682     1431              1              0
    둔촌2동                  775     1116              0              4
    암사1동                 1304     2306              1              0
    길동                   1455     2032              1              1

             cctv_count  etc  food  Medical_treatment  clothing  pharmacy  \
gu  dong
종로구 사직동              26  247   314                106        68        10
    부암동              25   19    32                  2         6         2
    평창동              27   14    25                  8         4         5
    종로5.6가동           0  269   334                117       111         0
    이화동               0   91   115                 33        22         8
...                 ...  ...   ...                ...       ...       ...
강동구 성내2동             45  300   342                 99        65        15
    성내3동              1  383   324                118        77        17
    둔촌2동             18  116    98                 26        16        20
    암사1동              0  192   208                 73        44         8
    길동               71  372   368                127        75        36

             hospital  bus_station  Alley_district  Development_district  \
gu  dong
종로구 사직동            70           33             207                   528
    부암동             4           34              59                     0
    평창동            14           57              51                     0
    종로5.6가동         0            0               0                   537
    이화동            12           21             110                   151
...               ...          ...             ...                   ...
강동구 성내2동           56           18             541                   143
    성내3동           84           15             577                   168
    둔촌2동           27           31             256                     0
    암사1동           36           15             360                     0
    길동            108           36             593                   187

             Traditional_district
gu  dong
종로구 사직동                         0
    부암동                         0
    평창동                         0
    종로5.6가동                   262
    이화동                         0
...                           ...
강동구 성내2동                      122
    성내3동                      157
    둔촌2동                        0
    암사1동                      157
    길동                        162

[228 rows x 15 columns]

In [37]:
score_0.to_csv("data/분석용_데이터/score_0_ver_gmm(cp949).csv", encoding = "cp949", index=False)

In [12]:
# cluster 가 1일때
data_1 = data[data["gmm_cluster"] == 1].iloc[:, :3]
data_1.head()

       구   행정동  독거노인
5    종로구   교남동  1650
34   용산구   남영동  1229
86  동대문구  전농1동  1633
91  동대문구  장안2동  1684
98   중랑구  상봉1동  3378

In [14]:
data_1.shape

(25, 3)

In [15]:
score_1 = data_1.merge(summary_data, how = "left", left_on=["구", "행정동"], right_on=["gu", "dong"])
score_1.drop(["구", "행정동"], axis = 1, inplace = True)
score_1 = score_1.set_index(["gu", "dong"])
score_1 = score_1.rename(columns = {"독거노인":"isolation_senior"})
score_1

             isolation_senior  parking  culture_space  sports_center  \
gu   dong
종로구  교남동                 1650      125              1              1
용산구  남영동                 1229      269              7              0
동대문구 전농1동                1633      887              1              0
     장안2동                1684     1026              0              0
중랑구  상봉1동                3378      548              1              0
     신내1동                4366      494              0              1
강북구  송천동                 1676      959              1              0
노원구  상계3.4동              1827        0              0              0
     중계2.3동              2227        0              0              0
은평구  녹번동                 1843     1512              8              2
     불광1동                1985     1152              2              0
     역촌동                 1944     2399              2              0
마포구  공덕동                 1574      764              1              0
양천구  목2동                 3831     1339              0              5
     신월4동                3048      509              0              0
     신정3동                1707      583              0              1
강서구  등촌3동                2339      248              1              3
동작구  흑석동                 1360      280              1              2
     노량진1동               1314      432              1              7
관악구  삼성동                 1556      464              0              0
서초구  양재1동                1709     1291              7              5
강남구  수서동                 1529       90              1              3
송파구  거여2동                 956      240              1              0
     마천1동                1000     1398              0              1
강동구  둔촌1동                   3       21              0              0

             cctv_count  etc  food  Medical_treatment  clothing  pharmacy  \
gu   dong
종로구  교남동              0   18    72                 13         0        16
용산구  남영동              0  173   188                 56        34        13
동대문구 전농1동             0  270   292                 76        51        13
     장안2동             0  415   469                152        90        23
중랑구  상봉1동            52   37    44                  6         3         8
     신내1동            73   76    61                 24        14        13
강북구  송천동             86  167   227                 41        41        17
노원구  상계3.4동           0    4     1                  0         0         0
     중계2.3동           0   59    45                 22        21         0
은평구  녹번동              0  111    98                 30        18        13
     불광1동             0   42    45                 24        11        16
     역촌동              0  296   312                 79        56        18
마포구  공덕동             44  153   167                 52        25        23
양천구  목2동            227   92   102                 26        18        12
     신월4동           118  151   143                 45        26         7
     신정3동           239  182   191                 75        37        16
강서구  등촌3동             0   64    77                 31         9        19
동작구  흑석동            170  206   279                 77        49        23
     노량진1동          151  242   276                 66        53        15
관악구  삼성동              0   74   106                 37        36         9
서초구  양재1동             0  269   302                 66        57        18
강남구  수서동              0   74    66                 28        16        12
송파구  거여2동             0    0     0                  0         0        11
     마천1동             0    0     0                  0         0         8
강동구  둔촌1동             0    0     0                  0         0         0

             hospital  bus_station  Alley_district  Development_district  \
gu   dong
종로구  교남동           18           24               0                     0
용산구  남영동           37           20             300                   151
동대문구 전농1동          38           33             381                   199
     장안2동          66           33             814                   196
중랑구  상봉1동          20           15              90                     0
     신내1동          30           48             175                     0
강북구  송천동           55           17             334                     0
노원구  상계3.4동         0            0               0                     0
     중계2.3동         0            0               0                   147
은평구  녹번동           27           28             257                     0
     불광1동          73           35               0                   122
     역촌동           50           49             743                     0
마포구  공덕동           61           34             299                    98
양천구  목2동           27           15              93                     0
     신월4동          20           10             365                     0
     신정3동          53           63             363                     0
강서구  등촌3동          56           48               0                   145
동작구  흑석동           45           53             463                     0
     노량진1동         33           49             195                   258
관악구  삼성동           16           31             200                     0
서초구  양재1동          81           76             404                   211
강남구  수서동           31           17               0                   184
송파구  거여2동          41           10               0                     0
     마천1동          19           13               0                     0
강동구  둔촌1동           0            8               0                     0

             Traditional_district
gu   dong
종로구  교남동                        0
용산구  남영동                        0
동대문구 전농1동                     109
     장안2동                     116
중랑구  상봉1동                       0
     신내1동                       0
강북구  송천동                      142
노원구  상계3.4동                     0
     중계2.3동                     0
은평구  녹번동                        0
     불광1동                       0
     역촌동                        0
마포구  공덕동                        0
양천구  목2동                      145
     신월4동                       0
     신정3동                     122
강서구  등촌3동                       0
동작구  흑석동                      148
     노량진1동                    184
관악구  삼성동                       53
서초구  양재1동                      79
강남구  수서동                        0
송파구  거여2동                       0
     마천1동                       0
강동구  둔촌1동                       0

In [16]:
score_1.shape

(25, 15)

In [17]:
score_1.to_csv("data/분석용_데이터/score_1_ver_gmm(cp949).csv", encoding = "cp949", index=False)

In [34]:
# cluster 가 2일때
data_2 = data[data["gmm_cluster_minmax"] == 2].iloc[:, :3]
data_2.head()

      구  행정동  독거노인
1   종로구  삼청동   167
4   종로구  무악동   265
6   종로구  가회동   216
15  종로구  혜화동   657
16   중구  소공동    72

In [35]:
score_2 = data_2.merge(summary_data, how = "left", left_on=["구", "행정동"], right_on=["gu", "dong"])
score_2.drop(["구", "행정동"], axis = 1, inplace = True)
score_2 = score_2.set_index(["gu", "dong"])
score_2 = score_2.rename(columns = {"독거노인":"isolation_senior"})
score_2

          isolation_senior  parking  culture_space  sports_center  cctv_count  \
gu  dong
종로구 삼청동                167      169             16              3          17
    무악동                265       45              0              1           0
    가회동                216      290              8              0           0
    혜화동                657      892             14              3           2
중구  소공동                 72      155             19              0          67
...                    ...      ...            ...            ...         ...
송파구 잠실3동               607       25              8              1           0
강동구 강일동                627      112              1              1           2
    상일동                455      538              1              2           6
    고덕1동               372      698              0              3           0
    고덕2동               513     1075              2              4           0

          etc  food  Medical_treatment  clothing  pharmacy  hospital  \
gu  dong
종로구 삼청동    45   172                 27        59         1         8
    무악동     0     0                  0         0         5         6
    가회동    69   151                 24        30         2         8
    혜화동   217   254                 72        42        17        28
중구  소공동   182   246                 69        52        13        64
...       ...   ...                ...       ...       ...       ...
송파구 잠실3동   36    46                 20        20        12        53
강동구 강일동     0     0                  0         0        12        26
    상일동    77   114                 37         9         7        15
    고덕1동  102    91                 25        16         4        16
    고덕2동   57    93                 26        12        10        21

          bus_station  Alley_district  Development_district  \
gu  dong
종로구 삼청동            16             194                   109
    무악동             3               0                     0
    가회동            23             148                   126
    혜화동            33             281                   304
중구  소공동            34               0                   549
...               ...             ...                   ...
송파구 잠실3동           22               0                   122
강동구 강일동            48               0                     0
    상일동            38             237                     0
    고덕1동           20             234                     0
    고덕2동           17               0                     0

          Traditional_district
gu  dong
종로구 삼청동                      0
    무악동                      0
    가회동                      0
    혜화동                      0
중구  소공동                      0
...                        ...
송파구 잠실3동                     0
강동구 강일동                      0
    상일동                      0
    고덕1동                     0
    고덕2동                   108

[121 rows x 15 columns]

In [39]:
score_2.to_csv("data/분석용_데이터/score_2_ver_gmm(cp949).csv", encoding = "cp949", index=False)

In [51]:
data.to_csv("data/분석용_데이터/clustering_result_gmm2(cp949).csv", encoding = "cp949", index=False)

- R 로 각 clustering 별 다중회귀를 진행하여 유효한 column지정 및 계수(가중치) 설정

# Scoring 가즈앗!

In [140]:
score_0 = pd.read_csv("data/분석용_데이터/score_0_ver_gmm(cp949).csv", encoding = "cp949")
score_0

,isolation_senior,parking,culture_space,sports_center,cctv_count,etc,food,Medical_treatment,clothing,pharmacy,hospital,bus_station,Alley_district,Development_district,Traditional_district
0,439,360,18,3,26,247,314,106,68,10,70,33,207,528,0
1,346,596,6,0,25,19,32,2,6,2,4,34,59,0,0
2,640,1600,7,0,27,14,25,8,4,5,14,57,51,0,0
3,508,0,0,0,0,269,334,117,111,0,0,0,0,537,262
4,596,435,22,0,0,91,115,33,22,8,12,21,110,151,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,1067,1935,0,0,45,300,342,99,65,15,56,18,541,143,122
224,682,1431,1,0,1,383,324,118,77,17,84,15,577,168,157
225,775,1116,0,4,18,116,98,26,16,20,27,31,256,0,0
226,1304,2306,1,0,0,192,208,73,44,8,36,15,360,0,157
227,1455,2032,1,1,71,372,368,127,75,36,108,36,593,187,162

In [141]:
score_0 = score_0[["pharmacy", "bus_station", "food", "parking", "Alley_district", "Development_district", "culture_space"]]
score_0["pharmacy"] = pd.qcut(score_0["pharmacy"], q = 9 , labels=False,duplicates="drop")
score_0["bus_station"] = pd.qcut(score_0["bus_station"], q = 9, labels=False ,duplicates="drop")
score_0["food"] = pd.qcut(score_0["food"], q = 9, labels=False ,duplicates="drop")
score_0["parking"] = pd.qcut(score_0["parking"], q = 9, labels=False ,duplicates="drop")
score_0["Alley_district"] = pd.qcut(score_0["Alley_district"], q = 9, labels=False ,duplicates="drop")
score_0["Development_district"] = pd.qcut(score_0["Development_district"], q = 9, labels=False ,duplicates="drop")
score_0["culture_space"] = pd.qcut(score_0["culture_space"], q = 9, labels=False ,duplicates="drop")

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [142]:
score_0["pharmacy"] += 1
score_0["bus_station"] += 1
score_0["food"] += 1
score_0["parking"] += 1
score_0["Alley_district"] += 1
score_0["Development_district"] += 1
score_0["culture_space"] += 1

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [144]:
score_0["bus_station"]

0      7
1      7
2      9
3      1
4      4
      ..
223    4
224    3
225    7
226    3
227    8
Name: bus_station, Length: 228, dtype: int64

In [145]:
score_0["score"] = score_0["pharmacy"]*4 + score_0["bus_station"]*3.8 + score_0["food"]*2 + score_0["parking"] + score_0["Alley_district"]*0.5 + score_0["Development_district"]*0.1 + score_0["culture_space"] * 0.01
score_0.sort_values("score", ascending=False)

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,pharmacy,bus_station,food,parking,Alley_district,Development_district,culture_space,score
158,9,9,9,7,7,3,3,99.03
227,9,8,9,9,8,3,1,97.71
62,9,9,8,7,8,1,4,97.34
48,9,9,8,7,8,1,2,97.32
179,9,8,9,6,7,1,1,94.01
...,...,...,...,...,...,...,...,...
8,1,2,2,1,2,1,1,17.71
207,1,1,1,5,1,1,1,15.41
108,1,1,2,2,3,1,1,15.41
139,1,2,1,1,1,1,1,15.21
7,1,1,1,1,1,1,1,11.41

In [153]:
score_0

,pharmacy,bus_station,food,parking,Alley_district,Development_district,culture_space,score
0,4,7,9,3,4,3,4,65.94
1,1,7,2,4,1,1,4,39.24
2,1,9,1,9,1,1,4,49.84
3,1,1,9,1,1,3,1,27.61
4,3,4,4,3,2,2,4,39.44
...,...,...,...,...,...,...,...,...
223,7,4,9,9,8,2,1,74.41
224,8,3,9,9,8,2,1,74.61
225,9,7,4,7,4,1,1,79.71
226,3,3,7,9,6,1,1,49.51
227,9,8,9,9,8,3,1,97.71

In [165]:
data = pd.read_csv("data/분석용_데이터/clustering_result_gmm(cp949).csv", encoding = "cp949")

       구   행정동  독거노인          매매         전월세  gmm_cluster_minmax
0    종로구   사직동   439  851.762182  426.243299                   0
1    종로구   삼청동   167  396.635571  334.446377                   2
2    종로구   부암동   346  486.024695  328.360298                   0
3    종로구   평창동   640  532.595432  324.871143                   0
4    종로구   무악동   265  795.829985  304.287667                   2
..   ...   ...   ...         ...         ...                 ...
419  강동구  둔촌1동     3  573.672898  203.983681                   1
420  강동구  둔촌2동   775  754.490665  398.706175                   0
421  강동구  암사1동  1304  750.036509  334.064532                   0
422  강동구  천호2동  1538  755.497887  408.348063                   0
423  강동구    길동  1455  741.467655  387.464969                   0

[424 rows x 6 columns]

In [172]:
data_0 = data[data['gmm_cluster_minmax'] == 0]
score_0_origin = data_0.merge(summary_data, how = "left", left_on=["구", "행정동"], right_on=["gu", "dong"])
score_0_origin.drop(["구", "행정동"], axis = 1, inplace = True)
score_0_origin = score_0_origin.set_index(["gu", "dong"])
score_0_origin = score_0_origin.rename(columns = {"독거노인":"isolation_senior"})
score_0_origin = score_0_origin.reset_index()
score_0_origin.head()

,gu,dong,isolation_senior,매매,전월세,gmm_cluster_minmax,parking,culture_space,sports_center,cctv_count,etc,food,Medical_treatment,clothing,pharmacy,hospital,bus_station,Alley_district,Development_district,Traditional_district
0,종로구,사직동,439,851.762182,426.243299,0,360,18,3,26,247,314,106,68,10,70,33,207,528,0
1,종로구,부암동,346,486.024695,328.360298,0,596,6,0,25,19,32,2,6,2,4,34,59,0,0
2,종로구,평창동,640,532.595432,324.871143,0,1600,7,0,27,14,25,8,4,5,14,57,51,0,0
3,종로구,종로5.6가동,508,537.186644,331.930829,0,0,0,0,0,269,334,117,111,0,0,0,0,537,262
4,종로구,이화동,596,732.827038,406.318042,0,435,22,0,0,91,115,33,22,8,12,21,110,151,0

In [167]:
score_0.head()

,pharmacy,bus_station,food,parking,Alley_district,Development_district,culture_space,score
0,4,7,9,3,4,3,4,65.94
1,1,7,2,4,1,1,4,39.24
2,1,9,1,9,1,1,4,49.84
3,1,1,9,1,1,3,1,27.61
4,3,4,4,3,2,2,4,39.44

In [173]:
score_0["gu"] = score_0_origin["gu"]
score_0["dong"] = score_0_origin["dong"]
score_0

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,pharmacy,bus_station,food,parking,Alley_district,Development_district,culture_space,score,gu,dong
0,4,7,9,3,4,3,4,65.94,종로구,사직동
1,1,7,2,4,1,1,4,39.24,종로구,부암동
2,1,9,1,9,1,1,4,49.84,종로구,평창동
3,1,1,9,1,1,3,1,27.61,종로구,종로5.6가동
4,3,4,4,3,2,2,4,39.44,종로구,이화동
...,...,...,...,...,...,...,...,...,...,...
223,7,4,9,9,8,2,1,74.41,강동구,성내2동
224,8,3,9,9,8,2,1,74.61,강동구,성내3동
225,9,7,4,7,4,1,1,79.71,강동구,둔촌2동
226,3,3,7,9,6,1,1,49.51,강동구,암사1동
227,9,8,9,9,8,3,1,97.71,강동구,길동

In [176]:
score_0.sort_values("score", ascending = False).head(15)

,pharmacy,bus_station,food,parking,Alley_district,Development_district,culture_space,score,gu,dong
158,9,9,9,7,7,3,3,99.03,금천구,독산1동
227,9,8,9,9,8,3,1,97.71,강동구,길동
62,9,9,8,7,8,1,4,97.34,성북구,종암동
48,9,9,8,7,8,1,2,97.32,중랑구,망우본동
179,9,8,9,6,7,1,1,94.01,동작구,상도1동
142,9,8,8,7,7,1,1,93.01,강서구,방화1동
186,8,9,8,5,8,1,1,91.31,동작구,대방동
166,9,9,9,2,1,3,4,91.04,영등포구,여의동
60,8,8,9,6,8,1,1,90.51,성북구,삼선동
145,9,6,9,9,8,1,1,89.91,강서구,화곡1동
95,9,8,6,8,5,1,2,89.02,노원구,공릉1동
167,9,8,7,4,7,2,1,88.11,영등포구,당산2동
198,6,9,9,8,7,2,4,87.94,관악구,대학동
140,9,9,5,5,4,1,1,87.31,강서구,발산1동
157,6,9,9,6,8,1,2,86.32,구로구,개봉1동

In [179]:
score_0.to_csv("data/결과/scoring_score_0(cp949).csv", encoding = "cp949", index = False)

In [178]:
score_0_origin.shape, score_0_origin.shape

((228, 20), (228, 20))

In [149]:
score_2 = pd.read_csv("data/분석용_데이터/score_2_ver_gmm(cp949).csv", encoding = "cp949")
score_2

,isolation_senior,parking,culture_space,sports_center,cctv_count,etc,food,Medical_treatment,clothing,pharmacy,hospital,bus_station,Alley_district,Development_district,Traditional_district
0,167,169,16,3,17,45,172,27,59,1,8,16,194,109,0
1,265,45,0,1,0,0,0,0,0,5,6,3,0,0,0
2,216,290,8,0,0,69,151,24,30,2,8,23,148,126,0
3,657,892,14,3,2,217,254,72,42,17,28,33,281,304,0
4,72,155,19,0,67,182,246,69,52,13,64,34,0,549,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,607,25,8,1,0,36,46,20,20,12,53,22,0,122,0
117,627,112,1,1,2,0,0,0,0,12,26,48,0,0,0
118,455,538,1,2,6,77,114,37,9,7,15,38,237,0,0
119,372,698,0,3,0,102,91,25,16,4,16,20,234,0,0
120,513,1075,2,4,0,57,93,26,12,10,21,17,0,0,108

In [150]:
score_2 = score_2[["pharmacy", "bus_station", "food", "parking", "Alley_district", "Traditional_district"]]
score_2["pharmacy"] = pd.qcut(score_2["pharmacy"], q = 9 , labels=False,duplicates="drop")
score_2["bus_station"] = pd.qcut(score_2["bus_station"], q = 9, labels=False ,duplicates="drop")
score_2["food"] = pd.qcut(score_2["food"], q = 9, labels=False ,duplicates="drop")
score_2["parking"] = pd.qcut(score_2["parking"], q = 9, labels=False ,duplicates="drop")
score_2["Alley_district"] = pd.qcut(score_2["Alley_district"], q = 9, labels=False ,duplicates="drop")
score_2["Traditional_district"] = pd.qcut(score_2["Traditional_district"], q = 9, labels=False ,duplicates="drop")

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [151]:
score_2["pharmacy"] += 1
score_2["bus_station"] += 1
score_2["food"] += 1
score_2["parking"] += 1
score_2["Alley_district"] += 1
score_2["Traditional_district"] += 1

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [152]:
score_2["score"] = score_2["pharmacy"]*2.7 + score_2["bus_station"]*3 + score_2["food"]*0.1 + score_2["parking"] + score_2["Alley_district"]*1.2 + score_2["Traditional_district"]*1.8
score_2.sort_values("score", ascending=False)

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,pharmacy,bus_station,food,parking,Alley_district,Traditional_district,score
55,9,9,8,9,7,1,71.3
75,9,9,8,9,5,1,68.9
22,9,9,8,6,7,1,68.3
95,9,9,8,9,4,1,67.7
23,7,9,7,9,6,1,64.6
...,...,...,...,...,...,...,...
114,2,1,1,2,1,1,13.5
1,2,1,1,1,1,1,12.5
78,2,1,1,1,1,1,12.5
41,1,1,1,2,1,1,10.8
16,1,1,1,1,1,1,9.8

In [180]:
data_2 = data[data['gmm_cluster_minmax'] == 2]
score_2_origin = data_2.merge(summary_data, how = "left", left_on=["구", "행정동"], right_on=["gu", "dong"])
score_2_origin.drop(["구", "행정동"], axis = 1, inplace = True)
score_2_origin = score_2_origin.set_index(["gu", "dong"])
score_2_origin = score_2_origin.rename(columns = {"독거노인":"isolation_senior"})
score_2_origin = score_2_origin.reset_index()
score_2_origin.head()

,gu,dong,isolation_senior,매매,전월세,gmm_cluster_minmax,parking,culture_space,sports_center,cctv_count,etc,food,Medical_treatment,clothing,pharmacy,hospital,bus_station,Alley_district,Development_district,Traditional_district
0,종로구,삼청동,167,396.635571,334.446377,2,169,16,3,17,45,172,27,59,1,8,16,194,109,0
1,종로구,무악동,265,795.829985,304.287667,2,45,0,1,0,0,0,0,0,5,6,3,0,0,0
2,종로구,가회동,216,468.704715,397.817601,2,290,8,0,0,69,151,24,30,2,8,23,148,126,0
3,종로구,혜화동,657,728.678383,517.887803,2,892,14,3,2,217,254,72,42,17,28,33,281,304,0
4,중구,소공동,72,856.121023,262.861114,2,155,19,0,67,182,246,69,52,13,64,34,0,549,0

In [181]:
score_2["gu"] = score_2_origin["gu"]
score_2["dong"] = score_2_origin["dong"]
score_2

C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\93564\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,pharmacy,bus_station,food,parking,Alley_district,Traditional_district,score,gu,dong
0,1,3,5,3,3,1,20.6,종로구,삼청동
1,2,1,1,1,1,1,12.5,종로구,무악동
2,1,5,4,4,2,1,26.3,종로구,가회동
3,8,8,7,8,5,1,62.1,종로구,혜화동
4,6,8,7,3,1,1,46.9,중구,소공동
...,...,...,...,...,...,...,...,...,...
116,6,5,1,1,1,1,35.3,송파구,잠실3동
117,6,9,1,2,1,1,48.3,강동구,강일동
118,3,8,3,6,4,1,45.0,강동구,상일동
119,2,4,2,7,4,1,31.2,강동구,고덕1동
120,5,3,2,8,1,2,35.5,강동구,고덕2동

In [183]:
score_2 = score_2.sort_values("score", ascending = False)
score_2.head(15)

,pharmacy,bus_station,food,parking,Alley_district,Traditional_district,score,gu,dong
55,9,9,8,9,7,1,71.3,마포구,서교동
75,9,9,8,9,5,1,68.9,서초구,서초3동
22,9,9,8,6,7,1,68.3,용산구,한강로동
95,9,9,8,9,4,1,67.7,강남구,역삼1동
23,7,9,7,9,6,1,64.6,용산구,한남동
64,8,9,8,7,5,1,64.2,금천구,가산동
104,9,6,8,9,7,2,64.1,강남구,청담동
96,9,6,7,8,5,3,62.4,강남구,역삼2동
90,9,6,8,9,7,1,62.3,강남구,논현2동
3,8,8,7,8,5,1,62.1,종로구,혜화동
82,7,8,7,7,7,1,60.8,서초구,반포4동
73,7,8,8,8,6,1,60.7,서초구,서초1동
74,8,9,6,5,2,1,58.4,서초구,서초2동
76,9,9,3,3,1,1,57.6,서초구,서초4동
91,7,8,7,7,4,1,57.2,강남구,삼성1동

In [184]:
score_2.to_csv("data/결과/scoring_score_2(cp949).csv", encoding = "cp949", index = False)